body {
  font-family: merriweather, serif;
  font-size: 14px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.cycle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cycle {
  width: 500px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin: 20px 0 20px 0;
  border-radius: 20px;
  text-align: center;
}

.method {
  background-color: #f5f5f5;
  margin: 10px auto 10px auto;
  max-width: 500px;
  border: 1px solid #828282;
  border-radius: 10px;
  /*box-shadow: 1px 1px #88888861;*/
  text-align: left;
}

.title-box {
  display: flex;
  cursor: pointer;
  background-color: #9fdcff;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.arrow {
  color: #24305e;
  width: 10px;
  margin: auto;
  margin: -10px auto -10px auto;
  font-size: 30px;
}

.cycle-box {
  max-width: 600px;
  margin: auto;
}

.centered {
  display: block;
  text-align: center;
}

.method-description {
  padding: 5px 10px 5px 10px;
}

.non-arrow-spacing {
  margin: 20px 0 20px 0;
}

.commit-box {
  padding: 10px 0 10px 0;
}

.deprecated {
  background-color: #f5f5f5;
  color: rgb(133, 133, 133);
}

.uncommon {
  background-color: #dbeef9;
}

pre,
code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.onclosed {
  border-radius: 10px;
}
